$border-color: #444;
$border-color-focus: #483d8b;

::-webkit-input-placeholder {
  color: #808080;
}

::-moz-placeholder {
  color: #808080;
}

:-moz-placeholder {
  color: #808080;
}

:-ms-input-placeholder {
  color: #808080;
}

body {
  background: url(../img/mainbg.jpg);
  background-color: #333;
  background-blend-mode: multiply;
  height: 100vh;
  font-family: arial, sans-serif;
  color: #e8e8e8;
}

.container {
  width: 350px;
  margin: 0 auto;
  position: relative;
}

.form {
  width: 350px;
  position: absolute;
  margin-top: 35%;
  transform: scaleX(0);

  & input {
    padding: 8px;
    border-radius: 3px;
    background: transparent;
  }

  &_active {
    transform: scaleX(1);
  }

  &__logo {
    background: url(../img/logo.png) center top / cover no-repeat;
    width: 200px;
    height: 200px;
    margin: 0 auto;
  }

  &__result {
    margin-top: 15px;
  }

  &__loader {
    text-align: center;
    display: none;
  }

  &__title {
    font-size: 11px;
    text-align: center;
    margin-bottom: 25px;

    & h1 {
      align-items: center;
      justify-content: space-between;
      display: flex;
    }

    & h1:before,
    & h1:after {
      content: '';
      background: #7e7e7e;
      height: 1px;
      width: 60px;
      display: block;
    }
  }

  &__input {
    margin-bottom: 15px;

    & input {
      width: 95%;
      border: dashed 1px $border-color;
      font-size: 15px;
      color: #a5a3a3;
      outline: none;
      transition: border .5s ease-out;
    }

    & input:focus {
      border: 1px solid $border-color-focus;
    }
  }

  &__autologin {
    display: flex;
    align-items: center;

    & input {
      width: 5%;
      margin: 0px 6px;
    }
  }

  &__button {
    & input {
      width: 100%;
      border: 1px solid $border-color-focus;
      color: #fff;
      font-size: 15px;
    }

    & input:hover {
      background: #483d8b;
      cursor: pointer;
    }
  }

  &__information {
    display: flex;
    font-size: 13px;
    justify-content: center;
    border-top: 1px solid #fff;
    margin-top: 30px;

    & a {
      text-decoration: none;
      color: #9400D3;

      &:hover {
        color: #8A2BE2;
        text-decoration: underline;
      }
    }
  }
}

.appearance {
  animation: appearance 0.5s;
  animation-fill-mode: both;
}

.disappearance {
  animation: disappearance 0.5s;
  animation-fill-mode: both;
  animation-delay: .1s;
}

@keyframes appearance {
  0% {
    opacity: 0;
    transform: translate3d(-100%, 0, 0);
  }

  100% {
    opacity: 1;
  }
}

@keyframes disappearance {
  0% {
    transform: scaleX(1);
  }

  50% {
    transform: translate3d(-100%, 0, 0);
    opacity: 0;
  }

  100% {
    opacity: 0;
    transform: scaleX(0);
  }
}